header {
    text-align : center;
}

body {
    background : #eddcbe;
    font-size : 1.5em;
    font-weight : 400;
    font-family: "Calibri", sans-serif;
    text-align : justify;
}

#title1 {
    color : #0b064d;
    font-family: "Calibri", cursive;
    font-weight: 600;
    font-size: 2em;
}

.title2 {
    color : #150f66;
    font-family: "Calibri";
}

.links:hover {
    color : red;
    font-size : 1.1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.center_small{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image1 {
    border : 2px solid #150f66;
}


/* Data Analysis CSS */

.set_margin {
    margin : 1.1em 2em;
    display : block;
}


.float_right {
    float: right;
}